body {
  background: #0f172a;
  font-family: Arial;
  color: white;
}

.dashboard {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: #1e293b;
  border-radius: 12px;
  text-align: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}

.logout {
  background: #ef4444;
}
