*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f8f8f8;
}

    /* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.search{
    width: 40%;
    padding: 8px;
}

.nav-links{
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

    /* HERO */
.hero{
    text-align: center;
    padding: 50px 20px;
}

.hero h1{
    font-size: 32px;
}

    /* PRODUCTS */
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}

.product-card{
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.product-card img{
    width: 100%;
}

.product-card button{
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

    /* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #fff;
    border-top: 1px solid #ddd;
}